name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version-file: .tool-versions
          cache: 'npm'
      - run: |
          npm ci
      - run: |
          npm run all
      - uses: sonarsource/sonarqube-scan-action@v1.1.0
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          args: >
            -D sonar.projectKey=supplypike_jira-pr-link-action
            -D sonar.projectName=jira-pr-link-action
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
